.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
} 

.textField{
    /* padding-right: 20px;
    padding-left: 20px; */
    text-align:center;
}

.cardStyle{
    
    text-align: center;
}